/**
 * @Component   Bootstrap
 * @Description Import all theme components
 * @Package     themes/flat
 */

// WARNING!!!
// All themes have access to all smooth middleware functions and variables.
// Be careful! You can force some components status, but it can cause unexpected
// results. For example:
// smooth-components('grid', true)
// smooth-components('icon', true)

@import '_flat.variables'
@import 'flat.button'
@import 'flat.font'
@import 'flat.form'
@import 'flat.landing'
@import 'flat.nav'
@import 'flat.theme'