/**
 * @Component   _Variables
 * @Package     theme/flat
 */

// THEME COLORS
// -----------------------------------------------------------------------------

$color-primary            = rgb(241,147,0)
$color-primary-darker1    = rgb(191,117,0)
$color-primary-darker2    = rgb(149,91,0)
$color-primary-lighter1   = rgb(255,175,50)
$color-primary-lighter2   = rgb(255,191,94)

$color-secondary          = rgb(241,188,0)
$color-secondary-darker1  = rgb(191,149,0)
$color-secondary-darker2  = rgb(149,116,0)
$color-secondary-lighter1 = rgb(255,210,50)
$color-secondary-lighter2 = rgb(255,220,94)



// LANDING FEATURES
// -----------------------------------------------------------------------------

$landing-row-padding-top    = 280px
$landing-row-padding-bottom = 280px