/**
 * @Component   _Variables
 * @Package     theme/flat
 */

// Theme colors
// -----------------------------------------------------------------------------

$color-Primary           = rgb(241,147,0)
$colorPrimaryDarker1    = rgb(191,117,0)
$colorPrimaryDarker2    = rgb(149,91,0)
$colorPrimaryLighter1   = rgb(255,175,50)
$colorPrimaryLighter2   = rgb(255,191,94)

$colorSecondary         = rgb(241,188,0)
$colorSecondaryDarker1  = rgb(191,149,0)
$colorSecondaryDarker2  = rgb(149,116,0)
$colorSecondaryLighter1 = rgb(255,210,50)
$colorSecondaryLighter2 = rgb(255,220,94)

$colorThird             = rgb(37,22,167)
$colorThirdDarker1      = rgb(28,16,188)
$colorThirdDarker2      = rgb(20,10,104)
$colorThirdLighter1     = rgb(65,55,180)
$colorThirdLighter2     = rgb(98,87,193)

$colorForth             = rgb(13,79,158)
$colorForthDarker1      = rgb(9,62,125)
$colorForthDarker2      = rgb(6,46,98)
$colorForthLighter1     = rgb(45,102,170)
$colorForthLighter2     = rgb(78,127,185)



// LANDING FEATURES
// -----------------------------------------------------------------------------

$landingRowPaddingTop    = 280px
$landingRowPaddingBottom = 280px