@require '_flat.variables'

body
    font-family "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight 400
    font-size 14px
    letter-spacing -0.02em
    background #fff

footer
  background-color #d6d6d6

nav
    ul
        list-style none
        margin 0
        padding 0