@require '_flat.variables'

button, .btn
  color            $color-black
  background-color $color-secondary-lighter1
  border           1px solid $color-secondary-lighter1
  font-size        14px
  transition       all .25s

  &:hover
    color      $color-black
    background $colors-secondary-darker1