@require '_flat.variables'

button, .btn
  color            $color-black
  background-color $colorSecondaryLighter1
  border           1px solid $colorSecondaryLighter1
  font-size        14px
  transition       all .25s

  &:hover
    color      $color-black
    background $colorSecondaryDarker1