@import '_misc'

// FLEX PARENT

display-flex()
  display: -webkit-flex
  display: flex

flex()
  vendor('flex', arguments)

flex-direction()
  vendor('flex-direction', arguments)

flex-wrap()
  vendor('flex-wrap', arguments)

flex-flow()
  vendor('flex-flow', arguments)

flex-justify()
  vendor('flex-justify', arguments)

align-items()
  vendor('align-items', arguments)

align-content()
  vendor('align-content', arguments)


// FLEX CHILDREN

order()
  vendor('order', arguments)

flex-grow()
  vendor('flex-grow', arguments)

flex-shrink()
  vendor('flex-shrink', arguments)

flex-basis()
  vendor('flex-basis', arguments)

flex()
  vendor('flex', arguments)

align-self()
  vendor('align-self', arguments)

