/**
 * Mixin: Grid
 *
 */
@import '../_variables'

make-column-behaviour()
  display inline
  float left
  margin 0 $grid-fluid-width * (($grid-gutter-width * 0.5) / $grid-fixed-width)

make-column(n)
  width $grid-fluid-width * (((($grid-gutter-width + $grid-column-width) * n) - $grid-gutter-width) / $grid-fixed-width)