<header class="menu">
    <div class="container">
        <div class="row">
            <nav class="col-4 align left">
                <a class="logo">
                    <img src="http://placehold.it/116x65" width="116" height="65">
                </a>
            </nav>

            <nav class="col-8 align right">
                <ul>
                    <li>
                        <a href="#" class="active">Home</a>
                    </li>
                    <li>
                        <a href="#">Documentation</a>
                    </li>
                    <li>
                        <a href="#">Extensions</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>