/**
 * @Component   _Variables
 * @Package     components
 */

// GRID AND FLEX
// ----------------------------------------------------------------------------

$grid-column-number        = 12
$grid-column-number-offset = $grid-column-number -1
$grid-column-width         = 100px
$grid-gutter-left          = 15px
$grid-gutter-right         = 15px
$grid-gutter-width         = $grid-gutter-left + $grid-gutter-right
$grid-fixed-width          = ($grid-column-width + $grid-gutter-width) * $grid-column-number
$grid-fluid-width          = 100%



// SIZES
// ----------------------------------------------------------------------------

$media-max-width-mobile  = 480px
$media-max-width-tablet  = 768px
$media-max-width-desktop = 769px

$container-fixed-width   = 980px
$container-fluid-width   = 100%

$unit-xs                 = .5em
$unit-sm                 = .75em
$unit-lg                 = 1.5em
$unit-xl                 = 3em



// FORMS VARIABLES
// ----------------------------------------------------------------------------

$form-input-padding      = 6px 12px
$form-input-height       = 34px
$form-inline-margin-left = 15px



// COLORS
// ----------------------------------------------------------------------------

$color-red    = rgb(255,0,0)
$color-green  = rgb(0,255,0)
$color-blue   = rgb(0,0,255)
$color-yellow = rgb(255,255,0)

$color-white  = rgb(255,255,255)
$color-black  = rgb(0,0,0)

$color-muted  = rgb(192,192,192)



// NAMING
// ----------------------------------------------------------------------------

$class-xs      = 'xs'
$class-sm      = 'sm'
$class-lg      = 'lg'
$class-xl      = 'xl'
$class-desktop = 'desktop'
$class-tablet  = 'tablet'
$class-mobile  = 'mobile'