/**
 * @Component   _Variables
 * @Package     components
 */

// GRID AND FLEX
// ----------------------------------------------------------------------------

COLUMNS_NUMBER   = 12
COLUMNS_NUMBER_OFFSET = COLUMNS_NUMBER -1
COLUMNS_WIDTH    = 100px
GUTTER_LEFT      = 15px
GUTTER_RIGHT     = 15px
GUTTER_WIDTH     = GUTTER_LEFT + GUTTER_RIGHT
FIXED_GRID_WIDTH = (COLUMNS_WIDTH + GUTTER_WIDTH) * COLUMNS_NUMBER
FLUID_GRID_WIDTH = 100%



// SIZES
// ----------------------------------------------------------------------------

$mediaMaxWidthMobile  = 480px
$mediaMaxWidthTablet  = 768px
$mediaMinWidthDesktop = 769px

$container-fixed-width = 980px
$container-fluid-width = 100%

$unit-xs = .5em
$unit-sm = .75em
$unit-lg = 1.5em
$unit-xl = 3em



// FORMS VARIABLES
// ----------------------------------------------------------------------------

$formInputPadding       = 6px 12px
$formInputDefaultHeight = 34px
$formInlineControlLeftMargin = 15px



// COLORS
// ----------------------------------------------------------------------------

$color-red    = rgb(255,0,0)
$color-green  = rgb(0,255,0)
$color-blue   = rgb(0,0,255)
$color-yellow = rgb(255,255,0)

$color-white  = rgb(255,255,255)
$color-black  = rgb(0,0,0)

$color-muted  = rgb(192,192,192)



// NAMING
// ----------------------------------------------------------------------------

$class-xs      = 'xs'
$class-sm      = 'sm'
$class-lg      = 'lg'
$class-xl      = 'xl'
$class-desktop = 'desktop'
$class-tablet  = 'tablet'
$class-mobile  = 'mobile'


/*NAVTABS_HEIGHT = 80px
NAVTABS_WIDTH  = 64px

/*POPOVER_WIDTH  = 400px;
POPOVER_HEIGHT = 250px;*/

/*WXSTATION_HEIGHT = 30px*/