/**
 * @Component   Grid
 * @Package     components
 */

@require '_variables'
@import 'mixins/grids'

// ROWS
// ----------------------------------------------------------------------------

.row
  width $grid-fluid-width
  padding 0 $grid-gutter-left 0 $grid-gutter-right
  overflow hidden

  &:not(.flex)
    display block

  &:not(.flex) > [class*="col-"]
    make-column-behaviour()

// COLUMNS
// ----------------------------------------------------------------------------

for n in (1..$grid-column-number)
  .col-{n}
    make-column(n)

// OFFSETS
// ----------------------------------------------------------------------------

for n in (1..$grid-column-number-offset)
  .offset-{n}
    margin-left $grid-fluid-width * (((($grid-gutter-width + $grid-column-width) * n) + $grid-gutter-left) / $grid-fixed-width) !important

// GRID MEDIA
// ----------------------------------------------------------------------------

@media only screen and (max-width: $media-max-width-tablet)
  .row
    for n in (1..$grid-column-number)
      .col-{n}
        make-column($grid-column-number)

  for n in (1..$grid-column-number)
    .offset-{n}
      margin-left 0px !important